@model LearningMVC.Models.Dept

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Department</h1>

<div>
    <h4>Dept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeptId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
