@model IEnumerable<LearningMVC.Models.Dept>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Department</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
