@model RoutingImplementationInASPDotnetCore.Models.Product

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <label>Product Id : @Model.ProductId </label>
    <label>Product Name : @Model.ProductName </label>
    <label>Product Description : @Model.ProductDescription </label>
    <label>Product StockCount : @Model.StockCount </label>
    <label>Product IsInStock : @Model.IsInStock </label>
</div>
