@model DifferentTypesOfActionResultsInAspNetCore.Models.Product;

@{

    ViewData["Title"] = "Product Info";
}

<div class="text-center">

    <p>Product Id : @Model.ProductId </p>
    <p>Product Name : @Model.ProductName  </p>
    <p>Product Desc : @Model.ProductDescription </p>
    <p>Product IsInStock : @Model.IsInStock </p>
    <p>Product Category : @Model.ProductCategory </p>

</div>