@model HTMLHelpersInASP.NETCoreMVC.Models.Product

<h1> This is all about Misc HTML helpers info </h1>

@using (Html.BeginForm("DisplayProductInfo", "HTMLHelpersType", FormMethod.Post))
{



@if (Model.IsDNEnabled)
{
    <label>Dealer Name</label>
    @Html.TextBox("DealerName")
}else{
    <label>Dealer Name</label>
    @Html.Password("DealerName",null, new {@value = Model.DealerName })

    @Html.PasswordFor(product => product.DealerName, new { @value = Model.DealerName })

}


@* Hidden field in HTML Helpers *@

@Html.Hidden("Description", @Model.Description)

    @Html.HiddenFor(product => product.ProductId, @Model.ProductId)

<input type="submit" value="Submit" />
}