@using HTMLHelpersInASPNETCoreMVC.Models
@model HTMLHelpersInASP.NETCoreMVC.Models.Product

<div>
    <div class="mb-3">
        @Html.Label("productname", "Product Name :")
        @Html.TextBoxFor(product => product.ProductName, new { @class = "form-control", @id = "productname" })
       </div>
    <div class="mb-3">
        @Html.Label("textAreaExample", "Product Description :")
        @Html.TextAreaFor(prodcut => prodcut.Description, new { @class = " form-control", @rows = "4", @id = "textAreaExample" })

        </div>
    <div class="mb-3">
        @Html.Label("isInStock", "Product IsInStock :")
        @Html.TextBoxFor(prodcut => prodcut.IsInStock, new { @class = "form-control", @id = "isInStock" })
        </div>
    <div class="mb-3">
        @Html.Label("ratingid", "Product Rating :")
        @Html.TextBoxFor(prodcut => prodcut.Rating, new { @class = "form-control", @id = "ratingid" })
        </div>

    <div class="mb-3">
        @Html.Label("photoid", "Product Photo :")
        @* @Html.DisplayFor(prodcut => prodcut.ProductPhotoPath, new { @class = "form-control", @id = "photoid" }) *@

        @* In Normal HTML, But we don't have the relevant HTML Helper in ASP.NET MVC*@

        @* <img src="@Model.ProductPhotoPath" alt="@Model.AltTextIfPhotoNotExist" height="250" width="250" /> *@

        @Html.Image(Model.ProductPhotoPath, Model.AltTextIfPhotoNotExist, "250", "250", null)
    </div>
    <div class="mb-3">
        @Html.Label("photoalttext", "Product Photo AltText :")
        @Html.DisplayFor(prodcut => prodcut.AltTextIfPhotoNotExist, new { @class = "form-control", @id = "photoalttext" })
    </div>
</div>