@model TypesOfViewsInASPNETCore.Models.Product

<div>


            <tr>
                <td>@Model.ProdcutId</td>
                <td>@Model.ProdcutName</td>
                <td>@Model.Description</td>
                <td>@Model.IsInStock</td>
                <td>@Model.Rating</td>
            </tr>

</div>
