<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1" style="width:800px; font-family:Arial">

        <tr>
            <td colspan="2" style="text-align:center">
                <h3>Website Header</h3>
            </td>
        </tr>
        <tr>
            <td style="width:200px">
                <h3>Left Navigation Menus</h3>
            </td>
            <td style="width:600px">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small">
                <h3>Website Footer</h3>
            </td>
        </tr>

    </table>
    @RenderSection("Scripts")

   @* 
   
    //Option 2 : Optional for rendering the RenderSection in child view

    @RenderSection("Scripts", false)
   
    *@

    @* 
        // -- Option 2: Using the IsSectionDefined() method for making the RenderSection is optional

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts")
        }
     *@
</body>
</html>