@model HTMLHelpersInASPNETCoreMVC.Models.CustomerProfile

@{
    ViewBag.Title = "Customer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Customer profile</h1>
@* When user click on submit button it will redirect to the CustomerProfile method along with data  *@
@using (Html.BeginForm("CustomerProfile", "AllHTMLHelpers", FormMethod.Post))
{

   
    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(model => model.CustomerName)
            @Html.TextBoxFor(model => model.CustomerName, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.CustomerName,"", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
    <div class="col-md-6 mb-3">
        @Html.LabelFor(model => model.Bio)
        @Html.TextBoxFor(model => model.Bio, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">
        <div class="form-check form-check-inline">
           @Html.RadioButtonFor(model=>model.Gender,"Male",new {@class="form-check-input"})
            @Html.LabelFor(model => model.Gender, "Male", new { @class = "form-check-label" })
        </div>

        <div class="form-check form-check-inline">
            @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Gender, "Female", new { @class = "form-check-label" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(model => model.Hobbies)
            @Html.ListBoxFor(model => model.Hobbies, (SelectList)ViewBag.HobbiesList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(model => model.Hobbies)
            @Html.DropDownListFor(model => model.Nicknames, (SelectList)ViewBag.NicknamesList, new { @class = "btn dropdown-toggle" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.RequiredUpdates)
        <div class="form-check">

            @Html.CheckBoxFor(m=> m.RequiredUpdates, new {@class="form-check-input"})
            @Html.LabelFor(m=>m.RequiredUpdates, new {@class="form-check-label"})
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(model => model.Feedback)
            @Html.TextAreaFor(model => model.Feedback, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            @Html.HiddenFor(m=>m.CustomerId)
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

    <button class="btn btn-danger" type="reset">Clear</button>

}