@model List<TagHelpersInASPNETCoreMVC.Models.Product>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId </td>
                    <td>@product.ProductName </td>
                    @*
                using HTML Syntax
                <td><a href="/BuiltInTagHelpers/ProductDetailsById?productid=@product.ProductId" class="btn btn-primary">View</a></td>
                *@
                    @* Using HTML Helper  

                    <td>@Html.ActionLink("View", "ProductDetailsById", "BuiltInTagHelpers", new { productid = @product.ProductId })</td>
                *@
                @* Using Tag Helpers *@

                    <td>
                        <a asp-controller="BuiltInTagHelpers"
                           asp-action="ProductDetailsById"
                           asp-route-productid="@product.ProductId">View</a>
                    </td>

              </tr>
            }
        </tbody>
    </table>
</div>